<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Music Genres</title>
</head>
<body>
    <h1>Spotify Music Genres</h1>
    <form action="/select_genres" method="post">
        {% for genre in genres %}
            <input type="checkbox" name="selected_genres" value="{{ genre }}">{{ genre }}<br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>