<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/styles/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <!-- Background Video -->
    <video autoplay loop muted id="background-video" preload="none">
        <source src="../static/Untitled video - Made with Clipchamp (1).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <header>
        <nav class="navigation">
            <a href="about_us.html" target="_blank">About Us</a> <!-- Update the href attribute -->
            <a href="about_project.html" target="_blank" class="btn-about-project">About Project</a>
        </nav>
    </header>

    <div class="container">
        <h1>
            WELCOME TO NIRVANA
        </h1>
        <p class="quote">Click the button below to connect to Spotify:</p>
        <a href="{{ auth_url }}" class="btn neon">
            <span></span><span></span>
            <span></span><span></span>
            <img src="../static/images/Spotify_Logo.png" alt="Spotify Logo" class="spotify-logo">
            Connect to Spotify
        </a>
    </div>

    <!-- Social Icons -->
    <div class="social-icons">
        
        <a href="https://www.linkedin.com/in/gaurav-jadhav-7106bb25a/" target="_blank"><img src="../static/image1.png" alt="LinkedIn"></a>
        <a href="https://github.com/Chirag10071/" target="_blank" ><img src="../static/github-mark-white.png" alt="Github" class="github"></a>
        <a href="mailto:infectedfactz1@gmail.com" target="_blank"><img src="../static/gmail.png" class="gmail" alt="Github"></a>
        <a href="mailto:jadhavgs22.comp@coeptech.ac.in" target="_blank"><img src="../static/image.png" alt="Outlook"></a>

        
    </div>

    <!-- Information about us -->
    <div class="about-us" id="about-us">
        <h2>About Us</h2>
        <p>We are a team dedicated to creating a unique experience for our users. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et orci vel felis tincidunt efficitur ac ac risus.</p>
    </div>
    <div class="about-project" id="about-project">
        <h2>About Project</h2>
        <p>This is a description of our project. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et orci vel felis tincidunt efficitur ac ac risus.</p>
    </div>

    <script>
        document.getElementById('about-us-link').addEventListener('click', function() {
            document.getElementById('about-us').style.display = 'block';
        });
    </script>

</body>
</html>