<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nirvana</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body style="background-image: url(background.jpg);">
        <div class="container">
            <h1>Welcome to Nirvana</h1>
            <p>Click the button below to connect to Spotify:</p>
            <a href="{{ auth_url }}" class="btn">
                <img src="spotify_logo.png" alt="Spotify Logo" class="spotify-logo">
                Connect to Spotify
            </a>
        </div>
    </body>
    </html>