body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent; /* Set background color to transparent */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to the container */
    border-radius: 20px; /* Add rounded corners to the container */
}

h1 {
    text-align: center;
    color: #333;
}

p {
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1db954; /* Set the button background color to green */
    color: #fff;
    text-decoration: none;
    border-radius: 20px; /* Add rounded corners to the button */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #168f3f; /* Darken the button color on hover */
}

.spotify-logo {
    width: 20px;
    height: auto;
    margin-right: 10px;
}